body{
    font-family: 'Times New Roman', Times, serif;
}

.batmanLogo {
    text-align: center;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    font-weight: bold;
    color: rgba(0, 86, 119, 1);
    text-align: center;
    background-color: rgba(196, 196, 196, 1);
}

h2 {
    font-size: 20px;
    font-weight: 700;
    font-weight: bold;
    color: rgba(0, 86, 119, 1);
    background-color: rgba(196, 196, 196, 1);
}

#batman {
    font-size: 20px;
    font-weight: 700;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 86, 119, 1);
}
