@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.espacio {
    height: 110px;
}

span {
    font-weight: bold;
    font-style: italic;
}

.cabecera {
    background-image: url(../image/logo\ batman.png), url(../image/baticueva.png);
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position: center, center top;


    height: 188px;
    width: 100%;
}

.titulo, .subtitulo {
    background-color: rgba(196, 196, 196, 1);
    color: rgba(0, 86, 119, 1);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.titulo {
    font-size: 35px;
    text-align: center;
}

.subtitulo {
    font-size: 20px;
    text-align: left;
}

.pie {
    background-color: rgba(0, 86, 119, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    font-weight: bold;
    text-align: center;
}
